<div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel">
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <!-- Indicators -->
      <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-item active">
          <img src="assets/images/source01.jpg" alt="Los Angeles" style="width:100%">
        </div>
        <div class="carousel-item">
          <img src="assets/images/source02.jpg" alt="Chicago" style="width:100%">
        </div>
        <div class="carousel-item">
          <img src="assets/images/source03.jpg" alt="New York" style="width:100%">
        </div>
      </div>
      
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        
      </a>
    <div class="main-text absolute hidden-xs">
        <div class="col-md-12 text-center description">
            <h1>Welcome to kcube!</h1>
            <p style="color:black">Our Mission is to "Deliver Excellent Service and Solutions to Customer and Provide Exciting Opportunities to Employees"</p>
            <button type="button" class="btn btn-outline-secondary">Portfolio</button>
        </div>
    </div>
    </div>
    </div>